.heading {
  font-size: 3.1rem;
  margin: 3rem;
}
.btn {
  padding: 2rem;
  margin: 0;
  border: none;
  border-right: solid;
  border-top: solid;
  background-color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(180, 179, 179);
}
.btn:last-child {
  border-right: none;
}
.columnBox:first-child .btn {
  border-top: none;
}
